* {
    background-image: linear-gradient(to right, lightblue, rgb(49, 145, 177))
}

body {
    font-family: Helvetica;
    text-align: center;
    color: black;
    margin: 0;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

 nav ul {
    display:flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }

  nav li {
    padding-right: 10px;
  }

  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: aliceblue;
  }

  nav a:hover {
    background-color: white;
  }

.header {
    color: black;
    text-align: center;
    padding: 20px;
}

#Profile-Picture {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#About-Me-Picture {
    max-width: 30%;
    height:auto;
}

#My-First-Picture {
    max-width: 35%;
    height:auto;
}

#My-Second-Picture {
    max-width: 20%;
    height: auto;
}

#Contact-Me-Picture {
    max-width: 30%;
    height:auto;
}

#about-me {
    max-width: 100%;
    height:auto;
}

#my-projects {
    max-width: 100%;
    height:auto;
}

#contact-me {
    max-width: 100%;
    height:auto;
}

#Contact-Details ul{
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

#Contact-Details li{
    display:block;
}