* {
    background-image: linear-gradient(to right, lightblue, rgb(49, 145, 177))
}

body {
    font-family: Helvetica;
    text-align: center;
    color: darkslategrey;
  }

.header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

#Profile-Picture {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#About-Me-Picture {

}

#My-Projects-Picture {

}

#Contact-Me-Picture {

}